* {
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 22, 43);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}

h1 {
    color: palevioletred;
    font-size: 60px;
}

.header {
    margin: auto;
}

.main-box {
    background-color: peachpuff;
    width: 60%;
    color: rgb(49, 22, 43);
    /* font-style: bold; */
    padding-right: 5%;
    padding-left: 5%;    
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px 50px 30px 5px;
    margin: auto;
    text-align: left;

}

.input-box {
    float: right;
}

.story-box {
    background-color: palevioletred;
    width: 60%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px 15px 5px 25px;
    margin: auto;
    width: 60%;
    font-size: 20px;
    text-align: left;
}

/* #get-button:hover {
    cursor: pointer;
} */
.button {
    background-color: peachpuff;
    color: rgb(49, 22, 43);
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
    background-color: palevioletred;
    color: peachpuff;
}

/* .submit {
    text-align: center;
    padding: 40px;
} */
.output-words {
    color: rgb(49, 22, 43);    
}

.footer {
    text-align: left;
    padding: 20px;
    background-color: rgb(75, 32, 75);
}